{
  "log": {
    "_recordingName": "build-user-assigned-finding-relationship",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "88c23226fcb7f28e5404ae6648dd1d2c",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.probely.com/account/"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 548,
            "text": "{\"status\":\"active\",\"plan\":{\"id\":\"default\",\"name\":\"\",\"description\":\"\",\"is_trial\":false,\"charge_model\":\"\",\"price\":0,\"currency_code\":\"\",\"period\":1,\"period_unit\":\"month\",\"allowed_scan_profiles\":[\"lightning\"]},\"free_target_quantity\":2,\"plan_target_quantity\":0,\"pool_size\":0,\"auto_collection\":true,\"next_billing_at\":null,\"trial_end\":null,\"balance\":0,\"balance_currency_code\":\"\",\"has_used_trial\":false,\"heroku\":false,\"plan_amount\":null,\"available_slots\":null}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "allow",
              "value": "GET, HEAD, OPTIONS"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 632,
      },
      {
        "_id": "8b7155e5f6eb2a64de02b94892910207",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page",
              "value": "1"
            },
            {
              "name": "length",
              "value": "30"
            }
          ],
          "url": "https://api.probely.com/targets/3HyUECP2F2Rc/findings/?page=1&length=30"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 325436,
            "text": "{\"count\":2,\"page_total\":1,\"page\":1,\"length\":30,\"results\":[{\"id\":2,\"target\":{\"id\":\"3HyUECP2F2Rc\",\"name\":\"\",\"site\":{\"id\":\"xjJEp7rERjzZ\",\"name\":\"Asana-2\",\"desc\":\"\",\"url\":\"https://asana.com\",\"host\":\"asana.com\",\"has_form_login\":false,\"form_login_url\":\"\",\"form_login_check_pattern\":\"\",\"form_login\":null,\"has_sequence_login\":false,\"has_sequence_navigation\":false,\"has_basic_auth\":false,\"basic_auth\":{\"username\":\"\",\"password\":\"\"},\"headers\":null,\"cookies\":null,\"whitelist\":[],\"blacklist\":[],\"changed\":\"2022-05-15T08:21:47.954696Z\",\"changed_by\":{\"id\":\"8C5DbAFNbTDN\",\"email\":\"ravelo.leiko@gmail.com\",\"name\":\"Leiko Ravelo\"},\"auth_enabled\":true,\"logout_condition\":\"any\",\"stack\":[{\"id\":\"CQaMJf4S9V4r\",\"name\":\"Node.js\",\"desc\":\"\"},{\"id\":\"mpZlcTSGkadE\",\"name\":\"React\",\"desc\":\"\"}],\"verified\":false,\"verification_token\":\"855d9516-cd89-4450-972f-b187226b9eb5\",\"verification_date\":null,\"verification_method\":\"\",\"verification_last_error\":\"\",\"api_scan_settings\":null},\"type\":\"free\",\"desc\":\"\",\"labels\":[],\"has_assets\":false,\"report_fileformat\":\"pdf\",\"scanning_agent\":null,\"teams\":{\"name\":null}},\"scans\":[\"3fBRtYhvR9ye\"],\"labels\":[],\"fix\":\"This problem can be fixed by sending the header **Referrer-Policy** with a secure and valid value.\\r\\nThere are different values available, but not all are considered secure. Please note that this header only supports one directive at a time. The following list explains each one and it is ordered from the safest to the least safe:\\r\\n\\r\\n* `no-referrer`: never send the header.\\r\\n* `same-origin`: send the full URL to requests to the same origin (exact scheme + domain)\\r\\n* `strict-or[...]
