{
  "log": {
    "_recordingName": "validate-invocation",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "7c5e6d82245d00f88333d0a95a3651eb",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.probely.com/profile/"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 456,
            "text": "{\"id\":\"8C5DbAFNbTDN\",\"email\":\"ravelo.leiko@gmail.com\",\"name\":\"Leiko Ravelo\",\"title\":\"\",\"is_billing_admin\":true,\"changed_by\":{\"id\":\"8C5DbAFNbTDN\",\"email\":\"ravelo.leiko@gmail.com\",\"name\":\"Leiko Ravelo\"},\"changed\":\"2022-05-16T11:50:53.914329Z\",\"last_login\":\"2022-05-16T11:50:53.914271Z\",\"is_apiuser\":false,\"intercom_user_id\":\"8C5DbAFNbTDN\",\"is_sso\":false,\"is_owner\":true}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "allow",
              "value": "GET, HEAD, OPTIONS"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1118,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
