{
  "log": {
    "_recordingName": "fetch-users",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "88c23226fcb7f28e5404ae6648dd1d2c",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.probely.com/account/"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 548,
            "text": "{\"status\":\"active\",\"plan\":{\"id\":\"default\",\"name\":\"\",\"description\":\"\",\"is_trial\":false,\"charge_model\":\"\",\"price\":0,\"currency_code\":\"\",\"period\":1,\"period_unit\":\"month\",\"allowed_scan_profiles\":[\"lightning\"]},\"free_target_quantity\":2,\"plan_target_quantity\":0,\"pool_size\":0,\"auto_collection\":true,\"next_billing_at\":null,\"trial_end\":null,\"balance\":0,\"balance_currency_code\":\"\",\"has_used_trial\":false,\"heroku\":false,\"plan_amount\":null,\"available_slots\":null}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "allow",
              "value": "GET, HEAD, OPTIONS"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 975,
      },
      {
        "_id": "7c5e6d82245d00f88333d0a95a3651eb",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.probely.com/profile/"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 456,
            "text": "{\"id\":\"8C5DbAFNbTDN\",\"email\":\"ravelo.leiko@gmail.com\",\"name\":\"Leiko Ravelo\",\"title\":\"\",\"is_billing_admin\":true,\"changed_by\":{\"id\":\"8C5DbAFNbTDN\",\"email\":\"ravelo.leiko@gmail.com\",\"name\":\"Leiko Ravelo\"},\"changed\":\"2022-05-16T11:50:53.914329Z\",\"last_login\":\"2022-05-16T11:50:53.914271Z\",\"is_apiuser\":false,\"intercom_user_id\":\"8C5DbAFNbTDN\",\"is_sso\":false,\"is_owner\":true}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "allow",
              "value": "GET, HEAD, OPTIONS"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1166,
      },
      {
        "_id": "a46f526681ab55d4513d43025db64c3a",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page",
              "value": "1"
            },
            {
              "name": "length",
              "value": "30"
            }
          ],
          "url": "https://api.probely.com/users/?page=1&length=30"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 472,
            "text": "{\"count\":1,\"page_total\":1,\"page\":1,\"length\":30,\"results\":[{\"id\":\"8C5DbAFNbTDN\",\"email\":\"ravelo.leiko@gmail.com\",\"name\":\"Leiko Ravelo\",\"title\":\"\",\"is_billing_admin\":true,\"changed_by\":{\"id\":\"8C5DbAFNbTDN\",\"email\":\"ravelo.leiko@gmail.com\",\"name\":\"Leiko Ravelo\"},\"changed\":\"2022-05-16T11:50:53.914329Z\",\"last_login\":\"2022-05-16T11:50:53.914271Z\",\"is_apiuser\":false}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "allow",
              "value": "GET, POST, HEAD, OPTIONS"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1162,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
