{
  "log": {
    "_recordingName": "fetch-targets",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "88c23226fcb7f28e5404ae6648dd1d2c",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.probely.com/account/"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 548,
            "text": "{\"status\":\"active\",\"plan\":{\"id\":\"default\",\"name\":\"\",\"description\":\"\",\"is_trial\":false,\"charge_model\":\"\",\"price\":0,\"currency_code\":\"\",\"period\":1,\"period_unit\":\"month\",\"allowed_scan_profiles\":[\"lightning\"]},\"free_target_quantity\":2,\"plan_target_quantity\":0,\"pool_size\":0,\"auto_collection\":true,\"next_billing_at\":null,\"trial_end\":null,\"balance\":0,\"balance_currency_code\":\"\",\"has_used_trial\":false,\"heroku\":false,\"plan_amount\":null,\"available_slots\":null}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "allow",
              "value": "GET, HEAD, OPTIONS"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 325,
      },
      {
        "_id": "7c5e6d82245d00f88333d0a95a3651eb",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.probely.com/profile/"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 448,
            "text": "{\"id\":\"8C5DbAFNbTDN\",\"email\":\"ravelo.leiko@gmail.com\",\"name\":\"Leiko Ravelo\",\"title\":\"\",\"is_billing_admin\":true,\"changed_by\":{\"id\":\"8C5DbAFNbTDN\",\"email\":\"ravelo.leiko@gmail.com\",\"name\":\"Leiko Ravelo\"},\"changed\":\"2022-05-27T14:14:58.278969Z\",\"last_login\":\"2022-05-27T14:14:58.278925Z\",\"is_apiuser\":false,\"intercom_user_id\":\"8C5DbAFNbTDN\",\"is_sso\":false,\"is_owner\":true}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "allow",
              "value": "GET, HEAD, OPTIONS"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 342,
      },
      {
        "_id": "952862485765d56f29f6d4b11bcb756b",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page",
              "value": "1"
            },
            {
              "name": "length",
              "value": "30"
            }
          ],
          "url": "https://api.probely.com/targets/?page=1&length=30"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 3251,
            "text": "{\"count\":3,\"page_total\":1,\"page\":1,\"length\":30,\"results\":[{\"id\":\"39mgytnmJhaw\",\"name\":\"\",\"site\":{\"id\":\"fqPZyvTWRhm5\",\"name\":\"asana\",\"desc\":\"\",\"url\":\"https://app.asana.com/\",\"host\":\"app.asana.com\",\"has_form_login\":false,\"form_login_url\":\"\",\"form_login_check_pattern\":\"\",\"form_login\":null,\"has_sequence_login\":false,\"has_sequence_navigation\":false,\"has_basic_auth\":false,\"basic_auth\":{\"username\":\"\",\"password\":\"\"},\"headers\":[{\"name\":\"Authorization\",\"value\":\"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhdXRob3JpemF0aW9uIjoxMjAyMDg3NzUxMDM5OTI2LCJzY29wZSI6ImRlZmF1bHQgaWRlbnRpdHkiLCJzdWIiOjEyMDIwNzQ2ODA5OTk2NTUsImlhdCI6MTY1MjQzNjIzOSwiZXhwIjoxNjUyNDM5ODM5fQ.H1LWxOX9RuVVXG6CB5J8eZ06jLjm0kAZc2y3BrCUSHk\"}],\"cookies\":null,\"whitelist\":[],\"blacklist\":[],\"changed\":\"2022-05-13T12:54:01.468500Z\",\"changed_by\":{\"id\":\"8C5DbAFNbTDN\",\"email\":\"ravelo.leiko@gmail.com\",\"name\":\"Leiko Ravelo\"},\"auth_enabled\":true,\"logout_condition\":\"any\",\"stack\":[],\"verified\":false,\"verification_token\":\"855d9516-cd89-4450-972f-b187226b9eb5\",\"verification_date\":null,\"verification_method\":\"\",\"verification_last_error\":\"\",\"api_scan_settings\":null},\"lows\":0,\"mediums\":0,\"highs\":0,\"risk\":null,\"last_scan\":{\"created\":null},\"running_scan\":null,\"next_scan\":null,\"assets\":[],\"scan_profile\":\"normal\",\"type\":\"single\",\"enabled\":false,\"environment\":\"testing\",\"connected_target\":null,\"report_type\":\"default\",\"allowed_scan_profiles\":[{\"id\":\"lightning\",\"name\":\"Lightning\",\"description\":\"Security posture scan. Fast scan that checks vulnerabilities related to SSL/TLS, HTTP security headers, and cookies attributes.\"}],\"labels\":[],\"scanning_agent\":null,\"include_deduplicated_endpoints\":null,\"blackout_period\":null,\"changed\":\"2022-05-13T12:54:01.478005Z\",\"changed_by\":{\"id\":\"8C5DbAFNbTDN\",\"email\":\"ravelo.leiko@gmail.com\",\"name\":\"Leiko Ravelo\"},\"incremental\":false,\"reduced_scope\":false,\"schedule_incremental\":false,\"schedule_reduced_scope\":false,\"crawl_sequences_only\":false,\"schedule_crawl_sequences_only\":false},{\"id\":\"3HyUECP2F2Rc\",\"name\":\"\",\"site\":{\"id\":\"xjJEp7rERjzZ\",\"name\":\"Asana-2\",\"desc\":\"\",\"url\":\"https://asana.com\",\"host\":\"asana.com\",\"has_form_login\":false,\"form_login_url\":\"\",\"form_login_check_pattern\":\"\",\"form_login\":null,\"has_sequence_login\":false,\"has_sequence_navigation\":false,\"has_basic_auth\":false,\"basic_auth\":{\"username\":\"\",\"password\":\"\"},\"headers\":null,\"cookies\":null,\"whitelist\":[],\"blacklist\":[],\"changed\":\"2022-05-15T08:21:47.954696Z\",\"changed_by\":{\"id\":\"8C5DbAFNbTDN\",\"email\":\"ravelo.leiko@gmail.com\",\"name\":\"Leiko Ravelo\"},\"auth_enabled\":true,\"logout_condition\":\"any\",\"stack\":[{\"id\":\"CQaMJf4S9V4r\",\"name\":\"Node.js\",\"desc\":\"\"},{\"id\":\"mpZlcTSGkadE\",\"name\":\"React\",\"desc\":\"\"}],\"verified\":false,\"verification_token\":\"855d9516-cd89-4450-972f-b187226b9eb5\",\"verification_date\":null,\"verification_method\":\"\",\"verification_last_error\":\"\",\"api_scan_settings\":null},\"lows\":2,\"mediums\":0,\"highs\":0,\"risk\":10,\"last_scan\":{\"id\":\"3fBRtYhvR9ye\",\"status\":\"completed\",\"started\":\"2022-05-15T08:22:23.897706Z\",\"completed\":\"2022-05-15T08:25:01.367400Z\",\"scan_profile\":\"lightning\",\"lows\":2,\"mediums\":0,\"highs\":0,\"created\":\"2022-05-15T08:22:20.969277Z\"},\"running_scan\":null,\"next_scan\":null,\"assets\":[],\"scan_profile\":\"lightning\",\"type\":\"free\",\"enabled\":true,\"environment\":\"testing\",\"connected_target\":null,\"report_type\":\"default\",\"allowed_scan_profiles\":[{\"id\":\"lightning\",\"name\":\"Lightning\",\"description\":\"Security posture scan. Fast scan that checks vulnerabilities r[...]
